
<input type="checkbox" id="is_online" name="is_online" {{#if model.is_online}}checked{{/if}}>
<label for="is_online">{{pieces.admin.online}}</label>

<br>

<p><button class="js-save_edit">{{pieces.admin.save}}</button></p>
<p><button class="button--transparent js-destroy">{{pieces.admin.delete}}</button></p>