
{{#each tags}}<span class="tag"><span contenteditable data-tag>{{this}}</span> <button class="button--transparent" data-remove-tag><svg class="icon"><use xlink:href="#icon-remove"></use></svg></button></span>{{/each}}<button class="button--underline" data-add-tag>+ Add new {{name}}</button>