<span class="button_group">
	<a href="/products" class="button button--bordered">Workshops</a><a href="/users/{{session.user_id}}/profile" class="button button--bordered button--black">Profile</a>
</span>