
// #COLORS

$white: #fff;
$black: #292E31;
$black--dark: #1F2224;
$black--light: #313639;
$red: #E14B3C;
$blue: #4B91E1;
$blue--dark: #27283C;
$grey: #EAEBEF;
$grey--light: #F5F5F5;
$green: #49D6AC;

$facebook_blue: #3B5998;

$primary: $black;
$highlight: $red;
$secondary: $blue;


// #FONTS

$body_font: "Cardo", serif;
$headings_font: "gt_walsheim", sans-serif;
$alternate_font: "gt_walsheim", sans-serif;

$bold: normal;


// #LAYOUT

$base_size: 14px;
$massive_size: 6rem;
$huge_size: 3.5rem;
$big_size: 2.5rem;
$bigish_size: 2rem;
$medium_size: 1.429rem;
$small_size: 0.75rem;

$vertical_rythm: $medium_size;
$line_height: 1.666;
$letter_spacing: 0;
$border_radius: 3px;

$number_of_columns: 12;
$gutter: 2.5rem;


// #ANIMATIONS

$fast: 0.333s;
$slow: 0.666s;
$very_slow: 1.666s;


// #BREAKPOINTS

$small: "all and (max-device-width:700px), all and (max-width:700px)";
$medium: "all and (max-device-width:1100px), all and (max-width:1100px)";
$breakpoints: "medium" $medium, "small" $small;

