
// #BUTTONS

button,
.button {
	cursor: pointer;
	display: inline-block;
	
	font-family: $alternate_font;
	font-weight: normal;
	font-size: 1rem;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	color: $white;
	
	position: relative;
	padding: $vertical_rythm/2;
	background: $highlight;
	border: 1px solid transparent;
	border-radius: $border_radius;

	@include transition(background $fast, color $fast, border-color $fast, opacity $fast);


	&:hover,
	&:focus {
		color: $white;
		background: $secondary;
	}

	&:active {
		@include shadow(inset 0 0.25rem 2rem fade-out($black, 0.8));
	}

	&:disabled {
		pointer-events: none;
		opacity: 0.5;
	}

	// .body--dark & {
	// 	color: $white;
	// 	background: $highlight;

	// 	&:hover,
	// 	&:focus {
	// 		background: $black--dark;
	// 	}
	// }

	&.button--tight {
		padding: $vertical_rythm/4 $vertical_rythm/2;
	}

	&.button--medium {
		font-size: $medium_size;
		padding: $vertical_rythm;
	}

	&.button--big {
		font-size: $big_size;
		padding: $vertical_rythm/1.75 $vertical_rythm*1.5 $vertical_rythm/2;
	}

	&.button--full {
		padding-right: 0;
		padding-left: 0;
		width: 100%;

		margin-bottom: $vertical_rythm/4;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&.button--black {
		color: $white;
		background: $black--dark;
		border-color: transparent;

		&:hover,
		&:focus {
			background: $highlight;
		}
	}

	&.button--grey {
		color: $primary;
		background: $grey--light;
		border-color: $grey;

		&:hover,
		&:focus {
			color: $white;
			background: $secondary;
			border-color: transparent;
		}
	}

	&.button--facebook {
		color: $facebook_blue;
		background: transparent;
		border-color: $facebook_blue;

		&:hover,
		&:focus {
			color: $white;
			background: $facebook_blue;
		}
	}

	&.button--bordered {
		color: $highlight;
		border: 1px solid;
		background: $white;

		&:hover,
		&:focus {
			color: $white;
			background: $highlight;
			border-color: transparent;
		}

		&.button--black {
			color: $black;

			&:hover,
			&:focus {
				color: $white;
				background: $black;
			}
		}

		&.button--blue {
			color: $blue;

			&:hover,
			&:focus {
				color: $white;
				background: $blue;
			}
		}
	}

	&.button--transparent {
		color: $primary;
		background: transparent;
		padding: 0;
		border: 0;

		&:hover,
		&:focus {
			color: $highlight;
		}

		&:active {
			top: 1px;
			@include shadow(none);
		}
	}

	.button_group & {
		border-radius: 0;
		border-left: none;

		&:first-child {
			border-left: 1px solid;
			border-top-left-radius: $border_radius;
			border-bottom-left-radius: $border_radius;
		}

		&:last-child {
			border-top-right-radius: $border_radius;
			border-bottom-right-radius: $border_radius;
		}
	}
}




