


// #LABELS

label,
.label {
	cursor: pointer;
	display: block;

	color: $highlight;
	font-family: $alternate_font;
	font-weight: normal;
	line-height: $small_size;

	margin-bottom: $vertical_rythm/2;

	&.label--inside {
		position: relative;
		z-index: 1;

		font-size: $small_size;
		text-align: left;

		margin-bottom: -$vertical_rythm;
		margin-left: $vertical_rythm/2;
	}

	.blue_highlight & {
		color: $blue;
	}
}

// #CONTENTEDITABLE

[contenteditable] {
	position: relative;
	display: inline-block;
	padding: $vertical_rythm/4 $vertical_rythm/2 $vertical_rythm/6;
	background: $white;

	border: 1px solid $grey;
	border-radius: $border_radius;

	&:focus {
		border-color: $highlight;
	}

	&:active {
		top: 1px;
	}

	&.contenteditable--small {
		padding: $vertical_rythm/4 $vertical_rythm/4 $vertical_rythm/6;
	}
}


// #INPUTS

input[type="text"],
input[type="password"],
input[type="url"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="search"],
input[type="file"],
input[type="date"],
input[type="datetime-local"],
optgroup,
select,
textarea,
.input {
	position: relative;
	width: 100%;

	font-family: $headings_font;
	font-size: $base_size;
	font-weight: normal;
	line-height: 1;

	color: $primary;
	background: $white;
	padding: $vertical_rythm/2;
	border: 1px solid $grey--dark;
	border-radius: $border_radius;

	margin-bottom: $vertical_rythm;

	@include shadow(0 0.1rem 0.1rem fade-out($black, 0.9));
	@include transition(background $fast, color $fast, border-color $fast, opacity $fast);

	&:active {
		background: fade-out($white, 0.2);
	}

	&:disabled,
	form:disabled & {
		opacity: 0.8;
		background: transparent;
		border: none;
		@include shadow(none);

		pointer-events: none;
	}

	&:focus {
		border: 1px solid $secondary;
	}

	&.input--tight {
		padding: $vertical_rythm/4 $vertical_rythm/2;
	}

	&.input--underline {
		padding: $vertical_rythm/2 0;
		border-bottom: 1px dashed;
	}

	&.input--inline {
		display: inline-block;
		width: auto;

		font-size: inherit;
		font-weight: inherit;
		font-family: inherit;
		padding: 0;
	}

	&.input--big {
		font-size: $medium_size;
		padding: $vertical_rythm $vertical_rythm*3;
		background: $grey--light;
		border-color: transparent;

		@include shadow(none);
	}

	.input_group & {
		margin-bottom: 0;
	}

	& + .icon {
		color: $secondary;
		position: absolute;
		top: $vertical_rythm*1.25;
		left: $vertical_rythm;

		height: $medium_size;
		width: $medium_size;
	}

	.label--inside + & {
		padding-top: $vertical_rythm;
		padding-bottom: $vertical_rythm/4;
	}
}



textarea {
	height: $vertical_rythm*6;
	padding: $vertical_rythm/1.5 $vertical_rythm;
	line-height: $line_height;

	&.textarea--one_line {
		padding: $vertical_rythm/2 $vertical_rythm;
		height: auto;
	}
}


select {
	cursor: pointer;
}

input[type="search"] {
	box-sizing: border-box;
}

input[type="file"] {
	display: block;
}


input[type="checkbox"],
input[type="radio"] {
	display: none;

	& + label {
		color: $primary;
		margin-bottom: $vertical_rythm/4;

		@include transition(color $fast);

		&:hover {
			color: $primary;
		}

		&:before {
			content: "";
			display: inline-block;
			vertical-align: middle;
			width: 1.25rem;
			height: 1.25rem;

			margin-right: $vertical_rythm/4;
			vertical-align: text-top;

			border: 1px solid $grey--dark;
			border-radius: $border_radius;

			@include transition(border-color $fast, background-color $fast);
		}
	}

	&:hover,
	&:focus {

		& + label {

			&:before {
				border-color: $highlight;
			}
		}
	}

	&:disabled {

		& + label {
			pointer-events: none;
		}
	}

	&:checked {
	
		& + label {
			color: $highlight;

			&:before {
				border-color: $highlight;
				background-color: $highlight;
			}
		}
	}
}

	input[type="radio"] {

		& + label {
			border-radius: 50%;
		}
	}


	input[type="checkbox"].checkbox--dot {
		
		& + label {
			font-size: 0;

			&:before {
				width: 1.5rem;
				height: 1.5rem;

				border: 0px;
				border-radius: 50%;
				background-color: $red;
				box-shadow: 0 0 0.714rem $red;
			}
		}

		&:checked {
		
			& + label {

				&:before {
					background-color: $green;
					box-shadow: 0 0 0.714rem $green;

					opacity: 1;
				}
			}
		}

		&.checkbox--dot--top_right {

			& + label {
				&:before {
					position: absolute;
					top: -0.5rem;
					right: -1rem;

					opacity: 1;
				}
			}
		}
	}


	input[type="checkbox"].checkbox--pill {

		
		
		& + label {
			position: relative;
			display: inline-block;
			width: auto;
			margin-bottom: $vertical_rythm/8;

			&:before {
				width: 2.5em;
				height: 1.5em;

				border: 0px;
				border-radius: 1em;
				background-color: $grey;
				vertical-align: middle;
			}

			&:after {
				content: "";
				display: inline-block;
				width: 1.25em;
				height: 1.25em;

				border-radius: 50%;
				background-color: $white;
				
				position: absolute;
				left: 0.125em;
				top: 0.125em;

				@include transformer();
			}

			.checkbox--pill__label {

				&:before {
					content: "not ";
				}
			}
		}

		&.checkbox--pill--with_red {

			& + label {
				color: $red;

				&:before {
					background-color: $red;
				}
			}
		}

		&:checked {
		
			& + label {
				color: $highlight;

				&:before {
					background-color: $highlight;
				}

				&:after {
					@include translate(80%, 0);
				}

				.checkbox--pill__label {

					&:before {
						content: "";
					}
				}
			}

			&.checkbox--pill--with_red {

				& + label {
					color: $green;

					&:before {
						background-color: $green;
					}
				}
			}
		}

	}





:focus {
	outline: none;
	-moz-outline-style: none;
}

::-webkit-input-placeholder,
::-moz-placeholder,
::placeholder, {
	color: $primary;
	opacity: 1;
}


