

*, *:before, *:after {
	box-sizing: border-box;
}



// #BODY

html {
	
}

body {
	position: relative;
	
	margin-bottom: 100vh;
}



// #HEADER

header {

}

// #NAV

.nav {
	@extend .padded;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

	.nav__rotated {
		padding-right: $gutter;
		
		@include transform_origin(100%, 0);
		@include transform(translateX(-100%) rotate(-90deg));
	}


// #MAIN

.main {
	max-width: 1600px;
	min-height: 100vh;
	margin: 0 auto;
}

	.main__center {
		width: 100%;
		max-width: 825px;
		margin: 0 auto;

		padding-top: 5%;
	}


// #FOOTER

footer {
	
}

// #IFRAME

iframe {
	display: block;
	max-width: 100%;
}


// #MIXINS

.max_width {
	width: 100%;
	max-width: 64rem;

	p {
		max-width: 42rem;
	}

	&.max_width--center {
		margin-right: auto;
		margin-left: auto; 
	} 
}

.padded {
	padding: $gutter;

	@media #{$phone} {
		padding: $gutter/2;
	}

	&.padded--tight {
		padding: $gutter/2;
	}

	&.padded--thick {
		padding: $gutter*1.5 $gutter*2;

		@media #{$tablet_landscape} {
			padding: $gutter $gutter*1.5;
		}

		@media #{$phone} {
			padding: $gutter/2;
		}
	}

	&.padded--vertically_thick {
		padding: $gutter*4 $gutter*2;

		@media #{$tablet_landscape} {
			padding: $gutter*3 $gutter*1.5;
		}

		@media #{$phone} {
			padding: $gutter*3 $gutter/2;
		}
	}

	&.padded--under_header {
		padding-top: $gutter*5;

		@media #{$tablet_landscape} {
			padding-top: $gutter*4;
		}

		@media #{$phone} {
			padding-top: $gutter*3;
		}
	}
}

.bordered { border: 1px solid $grey--light; }
	.bordered--thick { border: 1rem solid $primary; }
.border--right { border-right: 1px solid $grey--light; }
.border--bottom { border-bottom: 1px solid $grey--light; }

.huge_bottom { 
	margin-bottom: $vertical_rythm*8;

	@media #{$tablet_landscape} {
		margin-bottom: $vertical_rythm*4;
	}
}
.big_bottom { margin-bottom: $vertical_rythm*4; }
.medium_bottom { margin-bottom: $vertical_rythm*2; }
.normal_bottom { margin-bottom: $vertical_rythm; }
.small_bottom { margin-bottom: $vertical_rythm/2; }
.flat_bottom { margin-bottom: 0 !important; }
.medium_top { margin-top: $vertical_rythm*2; }

.relative { position: relative; }
.hide { display: none !important; }
.block { display: block; }
.inline_block { display: inline-block; }
.right { float: right; }
.text_center { text-align: center; }
.text_right { text-align: right; }





