

::selection {
	color: $white;
	background: $secondary;
}


// #BODY

html {
	font: #{$base_size}/#{$line_height} $body_font;

	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: fade-out($primary, 0.8);
	-moz-osx-font-smoothing: grayscale;

	@media #{$medium} {
		font-size: 12px;
	}
}

body {
	color: $primary;
	background-color: $white;

	width: 100%;
	overflow-x: hidden;

	@include transition(background-color $fast);

	&.body--dark {
		color: $white;
		background-color: $black;
	}
}

.main {
	background-color: $white;
}


// #HEADINGS
h1, h2, h3, h4, h5, h6 {
	font-family: $headings_font;
	font-weight: normal;
	line-height: 1.2;

	color: inherit;
	
	margin: 0 0 $vertical_rythm;


	&:last-child {
		margin-bottom: 0;
	}

	p + &,
	blockquote + & {
		margin-top: $vertical_rythm*2;
	}
}

	h1 {
		font-size: $huge_size;

		@media #{$small} {
			font-size: $big_size;
		}

		&.h1--base {
			font-size: $base_size;
		}

		&.h1--massive {
			font-size: $massive_size;
		}
	}

	h2 {
		font-size: $big_size;
	}

	h3 {
		font-size: $bigish_size;
		font-weight: $bold;

		strong {
			text-decoration: underline;
		}
	}

	h4 {
		font-size: $medium_size;
		font-weight: normal;
	}
	
	h5, h6 {
		font-size: $base_size;
	}


// #PARAGRAPHS

p {
	margin: 0 0 $vertical_rythm;

	&.p--alternate,
	.alternate & {
		font-family: $alternate_font;
	}

	&.p--huge {
		font-size: $huge_size;
		line-height: $line_height/1.25;

		@media #{$small} {
			font-size: $huge_size*0.75;
		}
	}

	&.p--big,
	.big & {
		font-size: $bigish_size;
	}

	&.p--medium,
	.medium & {
		font-size: $medium_size;
	}

	&:last-child {
		margin-bottom: 0;
	}

	img {
		padding: $vertical_rythm 0;
	}
}


// #LINKS

a {
	position: relative;
	outline: none;
	cursor: pointer;

	color: inherit;
	text-decoration: none;

	@include transition(color $fast, opacity $fast);

	&.a--underline,
	.underline_links & {
		text-decoration: underline;
	}

	&:focus,
	&:hover {
		color: $highlight;
	}

	&:active {
		top: 1px;
	}

	&.a--alternate {
		font-family: $alternate_font;
	}

	&.a--highlight {
		font-family: $alternate_font;
		font-weight: $bold;
		text-decoration: underline;
	}

	&[disabled] {
		pointer-events: none;
		text-decoration: line-through;
	}
}



// #LISTS 
ol,
ul {
	font-family: $alternate_font;
	margin: 0 0 $vertical_rythm;
	padding-left: $gutter*1.25;

	.medium & {
		font-size: $medium_size*0.8;
	}
}

ol {
	position: relative;
	list-style: none;
	counter-reset: numberedlist;

	li {

		&:before {
			counter-increment: numberedlist;
			content: counter(numberedlist) ". ";

			position: absolute;
			left: $gutter/2;
		}
	}
}


// #HR

hr {
	border: none;
	border-top: 1px solid $primary;

	width: 100%;
	margin: $vertical_rythm*2 auto;

	.black_back & {
		border-color: $white;
	}
}


// #BLOCKQUOTE
blockquote {
	position: relative;

	margin: 0 0 $vertical_rythm;
	padding-left: $vertical_rythm*2;
	padding-right: $vertical_rythm*2;

	.medium & {
		font-size: $medium_size;
	}

	&:before,
	&:after {
		position: absolute;
		font-size: 1.5em;
	}

	&:before {
		content: "“";
		top: 0;
		left: 0.25em;
	}

	&:after {
		content: "”";
		top: 0;
		right: 0.25em;
	}
}

// #PRE & #CODE

code {
	font-family: monospace;
	font-size: $base_size;

	display: inline-block;
	padding: $vertical_rythm/8;
	background: $grey;
}


// #SUP & #SUB

sup,
sub {
	font-size: 0.5em;
	vertical-align: middle;
}


// #COLORS

.white { color: $white; }
.highlight { color: $highlight; }


// #BACKGROUNDS

.black_back {
	color: $white;
	background-color: $black;
}

.grey_back {
	color: $primary;
	background-color: $grey;
}

.light_grey_back {
	background-color: $grey--light;
}

.white_back {
	color: $primary;
	background-color: $white;
}


// #MISC

[class^="icon-"], [class*=" icon-"] {
    height: $medium_size;
    width: $medium_size;
    display: inline-block;
    fill: currentColor;
    vertical-align: middle;

    margin: 0 $medium_size/4;

	&.icon--big {
		height: $bigish_size;
		width: $bigish_size;
	}

	&.icon--small {
		height: $base_size;
		width: $base_size;
	}
}

iframe {
	display: block;
}

small,
.small {
	font-size: $small_size;
}

b,
strong,
.strong {
	font-weight: $bold;
	font-family: $alternate_font;
	font-style: normal;
}

em,
.em {
	font-style: italic;
	font-weight: normal;
}

.capitalize { text-transform: capitalize; }
.strike { text-decoration: line-through; }


.slash_seperated,
.comma_seperated {

	&:after {
		content: "/";
	}

	&:last-of-type:after {
		content: none;
	}
}

.comma_seperated {
	&:after {
		content: ", ";
	}
}

.alternate_first_line {

	&:first-line {
		font-style: italic;
	}
}

.spaced {
	margin: 0 1em;
}

[contenteditable] {
	background: fade-out($black, 0.95);
}


