

// #TAGS
.pills,
.tags {

}

	.pill,
	.tag {
		color: $grey--dark;
		font-weight: normal;

		padding: $vertical_rythm/4 $vertical_rythm/3;
		background-color: $grey;
		border-radius: $border_radius;
	}

	.pill {
		border-radius: 1em;
		padding: $vertical_rythm/4 $vertical_rythm/1.5;
	}