

// #ADMIN

.admin {
	position: fixed;
	bottom: $gutter;
	right: $gutter;
	z-index: 5;
}

	.admin__container {
		@extend .padded;
		@extend .white_back;

		border-radius: $border_radius;
		@include shadow(0 0.25rem 1rem fade-out($black, 0.8))
	}