

// #CART

.cart {
	@extend .overlay;
	@extend .overlay--full;
	
	font-family: $alternate_font;
}

	.cart__back {
		@extend .overlay__back;
	}


	.cart__container {
		@extend .overlay__container;
		@extend .overlay__container--with_button;

		padding: $gutter 0 0;

		max-width: 34rem;
		background-color: $white;
	}

		.cart__close {
			@extend .overlay__close;
		}