
{% extends "layout.html" %}
{% from "freelancers/list.html" import list with context %}

{% block body_classes %}freelancers{% endblock %}


{% block header %}
<nav class="grid grid--middle" data-navigation>
    <div class="col col--4of12">
        <a href="/freelancers" class="grid grid--middle">
            <img src="/build/images/available_not_available_logo.svg" class="img--logo">
        </a>
    </div>
    <div class="col col--4of12 text_center">
    	<h1 class="h1--base hide_on_small">{{pieces.freelancers.title|safe}}</h1>
    </div>
    <div class="col col--4of12 text_right">
        {# <a href="/manifesto" class="a--alternate hide_on_small"><span data-key="about">{{pieces.navigation.about}}</span></a>
        <span class="spaced hide_on_small"></span> #}
        <a href="/freelancers?login=true" class="" data-show-login>{{pieces.freelancers.login}}</a>
        <span class="spaced hide_on_small"></span>
        <a href="/freelancers?signup=true" class="button button--bordered button--blue" data-show-signup>{{pieces.freelancers.signup}}</a>
    </div>
</nav>
{% endblock %}


{% block main %}
<section>
	{{ list(freelancers) }}
</section>
{% endblock %}


{% block footer %}
<div class="footer__fixed">
    <div class="footer__fixed__top"></div>

    <a href="mailto:makesaturdays@gmail.com" target="_blank" class="footer__fixed__middle text_center">
        <h2>Are you a freelancer?</h2>
        <h1 class="h1--massive">Join the network</h1>
    </a>

    <nav class="footer__fixed__bottom">
        <div class="padded max_width max_width--center text_center">
            Available Not Available has events on <a href="{{pieces.navigation.facebook_link}}" data-link-key="facebook_link" class="a--underline" target="_blank">{{pieces.navigation.facebook}}</a>.
            Our code is <a href="{{pieces.navigation.github_link}}" data-link-key="github_link" class="a--underline" target="_blank"><span data-key="github">{{pieces.navigation.github}}</span></a>.
            We're also <a href="{{pieces.navigation.twitter_link}}" data-link-key="twitter_link" class="a--underline" target="_blank">{{pieces.navigation.twitter}}</a>.
            Our pics are on <a href="{{pieces.navigation.instagram_link}}" data-link-key="instagram_link" class="a--underline" target="_blank">{{pieces.navigation.instagram}}</a>.
            Read the books from our <a href="/lists/library" class="a--underline"><span data-key="library">{{pieces.navigation.library}}</span></a>.
            And get to know our process on the <a href="/lists/blog" class="a--underline"><span data-key="blog">{{pieces.navigation.blog}}</span></a>.

            <span data-piece-admin></span></p>
        </div>
    </nav>
</div>
{% endblock %}

