
{% extends "layout.html" %}
{% from "freelancers/list.html" import list with context %}

{% block title %}{{pieces.freelancers.title|safe}}{% endblock %}
{% block description %}Find an available freelancer for hire.{% endblock %}
{% block og_title %}{{pieces.freelancers.title|safe}}{% endblock %}
{% block og_description %}Find an available freelancer for hire.{% endblock %}

{% block body_classes %}freelancers blue_highlight{% endblock %}
{% block main_classes %}light_grey_back{% endblock %}


{% block header %}
<nav class="nav grid grid--middle" data-navigation>
    <div class="col col--4of12">
        <a href="/freelancers" class="grid grid--middle">
            <img src="/build/images/available_not_available_logo.svg" class="img--logo">
        </a>
    </div>
    <div class="col col--4of12 text_center hide_on_phone">
    	<h1 class="h1--base"><a href="/freelancers">{{pieces.freelancers.title|safe}}</a></h1>
    </div>
    <div class="col col--4of12 col--phone--8of12 text_right" data-user-nav>
        <a href="/freelancers?login=true" class="hide_on_phone" data-show-login>{{pieces.freelancers.login}}</a>
        <span class="spaced hide_on_phone"></span>
        <a href="/freelancers?signup=true" class="button button--bordered button--blue" data-show-signup>{{pieces.freelancers.signup}}</a>
    </div>
</nav>

<section class="padded padded--thick padded--under_header white_back">
    <h1 class="text_center">Find an <em>available</em> {% if tagged %}{{tagged.tag|tag|lower}}{% else %}freelancer{% endif %} for hire.</h1>
</section>

<section class="padded white_back shadowed" data-search>
    <div class="grid grid--center">
        <div class="col col--8of12 col--tablet_portrait--10of12 col--phone--12of12">
            <div class="relative">
                <input type="search" name="search" class="input--big" placeholder="Search by name, field, skills, etc." value="{% if search %}{{search.query}}{% endif %}">
                <svg class="icon"><use xlink:href="#icon-search"></use></svg>
            </div>
        </div>
    </div>
</section>
{% endblock %}


{% block main %}
<section class="padded" data-freelancers>
    {% if search %}
    {% if search.results_length %}
    {{ list(search.results) }}
    {% else %}
    <p>The terms "<em>{{search.query}}</em>" have returned 0 results.</p>
    {% endif %}
    {% else %}
    <div class="freelancers medium_bottom">{{ list(freelancers) }}</div>
    {% endif %}

    <p class="text_center">
        <a href="/freelancers/all" class="button button--medium">Show All</a>
    </p>
</section>
{% endblock %}


{% block footer %}
{% block workshops %}
{# <section class="padded padded--vertically_thick light_grey_back">
    <div class="grid grid--guttered grid--spaced">
        <div class="col col--5of12 col--phone--12of12">
            <h2>{{pieces.workshops.title|safe}}</h2>
            <p>{{pieces.workshops.introduction|safe}}</p>
        </div>
        <div class="col">
            <a href="/products" class="button button--medium">See all workshops</a>
        </div>
    </div>

    <div class="medium_top">{% include 'products/workshops.html' %}</div>
</section> #}
{% endblock %}

<div class="footer__fixed" data-navigation>
    <div class="footer__fixed__top"></div>

    <a href="/freelancers?signup=true" data-show-signup class="footer__fixed__middle text_center">
        <h2>Are you a freelancer?</h2>
        <h1 class="h1--massive">Join the network</h1>
    </a>

    <nav class="footer__fixed__bottom">
        <div class="padded max_width max_width--center text_center">
            Available Not Available has events on <a href="{{pieces.navigation.facebook_link}}" data-link-key="facebook_link" class="a--underline" target="_blank">{{pieces.navigation.facebook}}</a>.
            Our code is <a href="{{pieces.navigation.github_link}}" data-link-key="github_link" class="a--underline" target="_blank"><span data-key="github">{{pieces.navigation.github}}</span></a>.
            We're also <a href="{{pieces.navigation.twitter_link}}" data-link-key="twitter_link" class="a--underline" target="_blank">{{pieces.navigation.twitter}}</a>.
            Our pics are on <a href="{{pieces.navigation.instagram_link}}" data-link-key="instagram_link" class="a--underline" target="_blank">{{pieces.navigation.instagram}}</a>.
            Read the books from our <a href="/lists/library" class="a--underline"><span data-key="library">{{pieces.navigation.library}}</span></a>.
            And get to know our process on the <a href="/lists/blog" class="a--underline"><span data-key="blog">{{pieces.navigation.blog}}</span></a>.

            <span data-piece-admin></span></p>
        </div>
    </nav>
</div>
{% endblock %}

