
{% macro list(freelancers=[], half=False) %}
{% for freelancer in freelancers %}
<a href="/freelancers/{{freelancer.route}}" class="freelancer {% if not freelancer.is_available %}freelancer--notavailable{% endif %} padded padded--tight block radiused normal_bottom white_back">
	<div class="grid grid--middle grid--guttered">
		<div class="col col--1of12">
			<img src="https://res.cloudinary.com/deming/image/fetch/c_thumb,f_auto,g_faces,h_400,q_auto,w_400/{{freelancer.image}}" class="img--rounded {% if not freelancer.is_available %}img--faded{% endif %}">
		</div>
		<div class="col col--3of12">
			<h4 class="{% if not freelancer.is_available %}strike{% endif %}">{{freelancer.first_name}} {{freelancer.last_name}}</h4>
		</div>
		<div class="col col--3of12 col--phone--4of12">
			{% for tag in freelancer.tags %}{{tag|tag}}{% if not loop.last %}, {% endif %}{% endfor %}
		</div>
		<div class="col col--2of12 hide_on_phone">
			<p>Montréal</p>
		</div>
		<div class="col col--2of12 col--phone--3of12">
			<h4>{{freelancer.rate}}</h4>
		</div>
		<div class="col col--1of12">
			<input type="checkbox" id="{{freelancer._id}}_is_available" disabled {% if freelancer.is_available %}checked{% endif %} class="checkbox--dot">
			<label for="{{freelancer._id}}_is_available" {% if freelancer.is_available %}title="Available">Available{% else %}title="Not Available">Not Available{% endif %}</label>
		</div>
	</div>
</a>
{% endfor %}
{% endmacro %}
