
<input type="checkbox" class="checkbox--pill checkbox--pill--with_red" name="is_available" id="is_available" {{#if model.is_available}}checked{{/if}}>
<label for="is_available"><span class="checkbox--pill__label">available</span></label>