
{{#each links}}
<div class="col" data-link>
	<strong>Label:</strong> <small class="contenteditable--small" contenteditable data-link-label>{{label}}</small><br>
	<strong>Url:</strong> <span contenteditable data-link-url>{{url}}</span>
	<button class="button--transparent" data-remove-link><svg class="icon"><use xlink:href="#icon-remove"></use></svg></button>
</div>
{{/each}}

<div class="col col--12of12"><button class="button--underline" data-add-link>+ Add new link</button></div>