<div data-project>
	<div class="grid grid--guttered">
		<div class="col col--6of12 col--medium--7of12 col--small--12of12">
			<h4 class="small_bottom" data-project-contributions contenteditable="">Graphic Design / Development / etc.</h4>
			<h2 class="max_width max_width--text"><a href="#" data-project-title contenteditable="">Project Title</a></h2>
			<p class="p--medium max_width max_width--text" data-project-description contenteditable="">Description, keep it short</p>
			<p class=""><a href="#" class="a--underline" data-project-url contenteditable="">https://theprojectsurl.com/</a></p>
		</div>
			
		<div class="col col--4of12 col--small--10of12 text_right">
			<button class="button--underline red normal_bottom" data-remove-project>Delete this project</button>

			<a href="#"><img src="https://res.cloudinary.com/deming/image/fetch/f_auto,w_600,q_auto/http://fillmurray.com/800/466" data-project-image data-image-cdn="https://res.cloudinary.com/deming/image/fetch/f_auto,w_600,q_auto/" class="img--clickable" alt="#"></a>
		</div>
	</div>

	<hr>
</div>