
<label for="authors">Authors</label>
<select name="authors" id="authors" multiple>
{{#each authors}}
	<option value="{{_id}}" {{#if_in_array ../model.authors _id}}selected{{/if_in_array}} >{{handle}}</option>
{{/each}}
</select>
