
{% extends "layout.html" %}



{% block main %}

<section class="relative" data-piece-id="{{pieces.index._id}}">
	<div class="max_width">
		<img src="{{pieces.index.image}}" class="img--bottom_right hide_on_medium" data-image-key="image">

		<p class="p--huge">
			<span data-key="introduction">{{pieces.index.introduction|safe}}</span>
		</p>
		<p class="p--medium huge_bottom">
			<span data-key="concept">{{pieces.index.concept|safe}}</span>
		</p>

		<p class="p--medium">
			<span data-key="coming_soon">{{pieces.index.coming_soon|safe}}</span>
			<a href="/request_access" class="a--highlight"><span data-key="request_access">{{pieces.index.request_access}}</span></a>
		</p>
		<span data-piece-admin></span>
	</div>
</section>

{% endblock %}



