
{% extends "layout.html" %}

{% block main %}



<h4 id="vendor_shops">Vendor Shops</h4>


<h4 id="products">Products</h4>


<h4 id="blog_posts">Blog Posts</h4>


<h4 id="library_posts">Library Posts</h4>

<a id="checkout"></a>
<a id="users"></a>

<a id="navigation"></a>


<h4 id="columns">Columns</h4>


<h4 id="forms">Forms</h4>


<h4 id="inputs">Inputs</h4>


<h4 id="buttons">Buttons</h4>


<h4 id="labels">Labels</h4>


<h4 id="headers">Headers</h4>


<h4 id="figures">Figures</h4>


<h4 id="quotes">Quotes</h4>

<blockquote>
<p>Most design escapes notice, emerging from the landscape or entering the world rather quietly, often anonymously. The relative invisibility of design is also a matter of perceptual survival. Most new things are quickly absorbed into our immediate surroundings, forming the background against which we go about our everyday lives. Without this ability to integrate objects into our environment, the world would seem a daunting place — an ever-changing visual cacophony.</p>
</blockquote>


<h4 id="paragraphs">Paragraphs</h4>
<p>Most design escapes notice, emerging from the landscape or entering the world rather quietly, often anonymously. The relative invisibility of design is also a matter of perceptual survival. Most new things are quickly absorbed into our immediate surroundings, forming the background against which we go about our everyday lives. Without this ability to integrate objects into our environment, the world would seem a daunting place — an ever-changing visual cacophony.</p>
<p>Most design escapes notice, emerging from the landscape or entering the world rather quietly, often anonymously. The relative invisibility of design is also a matter of perceptual survival. Most new things are quickly absorbed into our immediate surroundings, forming the background against which we go about our everyday lives. Without this ability to integrate objects into our environment, the world would seem a daunting place — an ever-changing visual cacophony.</p>


<h4 id="code">Code</h4>




<h4 id="links">Links</h4>

<p>
	<a href="#">Link</a><br>
	<a href="#" class="a--alternate">Alternate</a><br>
	<a href="#" class="a--underline">Underline</a>
</p>


<h4 id="spacers">Spacers</h4>

<p>
	Empty
	<span class="spaced"></span>
	Empty<br>

	Dash
	<span class="spaced">&mdash;</span>
	Dash<br>
</p>


<h4 id="emphasis">Emphasis</h4>

<p>
	<em>Em</em><br>
	<strong>Strong</strong>
	<marquee>Marquee</marquee>
</p>

{% endblock %}