


// #LABELS

label,
.label {
	cursor: pointer;
	display: block;

	font-family: $alternate_font;
	font-weight: bold;

	.input_box & {
		position: absolute;
		top: $vertical_rythm/2;
		left: $vertical_rythm;
		z-index: 1;
	}
}


// #INPUTS

.input_box {
	position: relative;

	@include transition(opacity $fast);

	&.input_box--faded {
		opacity: 0.2;

		.form__bottom_button {
			opacity: 0;
		}
	}

	&.input_box--hidden {
		opacity: 0;
	}
}


input[type="text"],
input[type="password"],
input[type="url"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="search"],
input[type="file"],
input[type="date"],
input[type="datetime-local"],
optgroup,
select,
textarea,
.input {
	position: relative;
	width: 100%;

	font-family: $alternate_font;
	font-size: $base_size;
	font-weight: $bold;
	line-height: 1;

	color: $primary;
	background: $white;
	padding: $vertical_rythm/2 $vertical_rythm;
	border: 1px solid transparent;
	border-radius: $border_radius;

	margin-bottom: $vertical_rythm;


	@include transition(background $fast, color $fast, border-color $fast, opacity $fast);

	&:active {
		background: fade-out($white, 0.2);
	}

	&:disabled {
		opacity: 0.5;
		pointer-events: none;
	}

	&.input--underline {
		padding: $vertical_rythm/2 0;
		border-bottom: 1px dashed;
	}

	&.input--inline {
		display: inline-block;
		width: auto;

		font-size: inherit;
		font-weight: inherit;
		font-family: inherit;
		padding: 0;
	}

	.input_box & {
		padding: $vertical_rythm*2.5 $vertical_rythm $vertical_rythm*1.5;
	}
}




textarea {
	height: $vertical_rythm*6;
	padding: $vertical_rythm/1.5 $vertical_rythm;
	line-height: $line_height;

	&.textarea--one_line {
		padding: $vertical_rythm/2 $vertical_rythm;
		height: auto;
	}
}


select {
	cursor: pointer;
}

input[type="search"] {
	box-sizing: border-box;
}

input[type="file"] {
	display: block;
}

input[type="checkbox"],
input[type="radio"] {
	cursor: pointer;

	-webkit-appearance: none;
	appearance: none;

	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	margin: $vertical_rythm/4 $vertical_rythm/2 $vertical_rythm/2 0;

	border: 2px solid;
	border-radius: $border_radius;
	opacity: 0.4;

	@include transition(background-color $fast, color $fast, opacity $fast);


	& + label {
		display: inline-block;
		opacity: 0.4;

		@include transition(background-color $fast, border-color $fast, color $fast, opacity $fast);
	}

	&:hover,
	&:focus {
		opacity: 1;

		& + label {
			opacity: 1;
		}
	}

	&:checked {
		opacity: 1;
		color: $highlight;
		background-color: $highlight;

		& + label {
			opacity: 1;
			color: $highlight;
		}
	}
}

	input[type="radio"] {
		border-radius: 50%;
	}





:focus {
	outline: none;
	-moz-outline-style: none;
}

::-webkit-input-placeholder, ::-webkit-input-placeholder,
:-moz-placeholder, :-moz-placeholder {
	color: $primary;
}


