



.blog {
	background-color: $white;
}

	.blog__post {
		padding: $vertical_rythm*2 0;
	}

		.blog__post__content {
			position: relative;
			overflow: hidden;

			max-height: 9999px;

			@include transition(max-height $very_slow);

			&.blog__post__content--minimized {
				max-height: $vertical_rythm*20;
			}
		}