
{% extends "layout.html" %}

{% block title %}
	{{post.title|striptags}} - Blog - {{super()}}
{% endblock %}

{% block og_title %}
	{{post.title|striptags}} - Blog - {{super()}}
{% endblock %}

{% block body_classes %}blog {{post.route}}{% endblock %}

{% block main %}
	<article class="blog__post js-post" data-id="{{post._id}}">
		<div class="grid grid--guttered">
			<div class="col col--3of12 col--small--12of12">
				<h3 data-title>{{post.title}}</h3>
				{% for author in post.authors %}
				<p class="p--medium hide_on_small">
					{{pieces.blog.by}} <a href="/lists/blog/authors/{{author.handle}}">{{author.name}}</a><br>
					{% if post.source %}
					<a href="{{post.source}}">Source</a>
					{% else %}
					<a href="https://twitter.com/{{author.handle}}">@{{author.handle}}</a>
					{% endif %}
				</p>
				{% if not loop.last %}
				<p class="p--medium hide_on_small">&amp;</p>
				{% endif %}
				{% endfor %}
				
				<div data-author-input></div>
				<div data-admin></div>
			</div>

			<div class="col col--7of12 col--small--12of12">
				<div class="medium alternate_first_line underline_links blog__post__content" data-content-key="body" data-is-markdown>
					{{post.body|safe}}
				</div>
			</div>

			<div class="col col--2of12 col--small--12of12">
				<p class="p--medium">
					<span data-published-date>{{post.published_date|date}}</span><br>
					<span data-tags class="tags">{% for tag in post.tags %}<a href="/lists/blog/tags/{{tag}}" data-tag>{{tag}}</a>{% endfor %} <span data-tag-input></span></span>
				</p>
			</div>
		</div>
	</article>
{% endblock %}


{% block footer %}
	{{super()}}

	<div class="padded padded--thick grey_back">
		<p>{{pieces.blog.categories}}</p>

		<div class="grid grid--guttered">
			{% for tag in post.parent.tags %}
			<a href="/lists/blog/tags/{{tag.name}}" class="col" style="opacity: {{tag.count / post.parent.highest_tag_count}};">
				<h2 class="inline_block strong capitalize">
					{{tag.name}}
				</h2>
				<small class="strong">{{tag.count}}</small>
			</a>
			{% endfor %}
		</div>
	</div>

	<script>
		window.list_id = "{{post.parent._id}}";
		window.list_route = "{{post.parent.route}}";
	</script>
{% endblock %}
