
{% extends "layout.html" %}


{% block title %}
    Library - {{super()}}
{% endblock %}

{% block og_title %}
	Library - {{super()}}
{% endblock %}

{% block body_classes %}library blog{% endblock %}

{% block title_link %}/{% endblock %}

{% block main %}

<div class="big_bottom" data-piece-id="{{pieces.library._id}}">
	<div class="grid">
		<p class="col col--8of12 col--medium--10of12 col--small--12of12 p--big">
			<span data-key="introduction">{{pieces.library.introduction|safe}}</span>

			<span data-piece-admin></span>
		</p>
	</div>
</div>


<div class="grid grid--guttered">
	{% for post in list.posts %}
	<article class="col col--4of12 col--medium--6of12 col--small--12of12 library__post" data-post-id="{{post._id}}">
		<div class="grid grid--tight_guttered">
			<div class="col col--5of12">
				<a href="{{post.url}}" target="_blank"><img src="{{post.front_image}}" alt="{{post.title}}"></a>

				<div data-admin></div>
			</div>

			<div class="col col--7of12">
				<h4><a href="{{post.url}}" target="_blank"><span data-title>{{post.title}}</span></a></h4>

				<blockquote data-content-key="quote" data-is-markdown>{{post.quote|safe}}</blockquote>
				<div data-content-key="references">{{post.references|safe}}</div>

				<span data-tags class="tags">{% for tag in post.tags %}<a href="/lists/library/tags/{{tag}}" data-tag>{{tag}}</a>{% endfor %} <span data-tag-input></span></span>
			</div>
		</div>
	</article>
	{% endfor %}

	{% for post in list.posts %}
	<article class="col col--4of12 col--medium--6of12 col--small--12of12 library__post" data-post-id="{{post._id}}">
		<div class="grid grid--tight_guttered">
			<div class="col col--5of12">
				<a href="{{post.url}}" target="_blank"><img src="{{post.front_image}}" alt="{{post.title}}"></a>

				<div data-admin></div>
			</div>

			<div class="col col--7of12">
				<h4><a href="{{post.url}}" target="_blank"><span data-title>{{post.title}}</span></a></h4>

				<blockquote data-content-key="quote" data-is-markdown>{{post.quote|safe}}</blockquote>
				<div data-content-key="references">{{post.references|safe}}</div>

				<span data-tags class="tags">{% for tag in post.tags %}<a href="/lists/library/tags/{{tag}}" data-tag>{{tag}}</a>{% endfor %} <span data-tag-input></span></span>
			</div>
		</div>
	</article>
	{% endfor %}

	{% for post in list.posts %}
	<article class="col col--4of12 col--medium--6of12 col--small--12of12 library__post" data-post-id="{{post._id}}">
		<div class="grid grid--tight_guttered">
			<div class="col col--5of12">
				<a href="{{post.url}}" target="_blank"><img src="{{post.front_image}}" alt="{{post.title}}"></a>

				<div data-admin></div>
			</div>

			<div class="col col--7of12">
				<h4><a href="{{post.url}}" target="_blank"><span data-title>{{post.title}}</span></a></h4>

				<blockquote data-content-key="quote" data-is-markdown>{{post.quote|safe}}</blockquote>
				<div data-content-key="references">{{post.references|safe}}</div>

				<span data-tags class="tags">{% for tag in post.tags %}<a href="/lists/library/tags/{{tag}}" data-tag>{{tag}}</a>{% endfor %} <span data-tag-input></span></span>
			</div>
		</div>
	</article>
	{% endfor %}

	{% for post in list.posts %}
	<article class="col col--4of12 col--medium--6of12 col--small--12of12 library__post" data-post-id="{{post._id}}">
		<div class="grid grid--tight_guttered">
			<div class="col col--5of12">
				<a href="{{post.url}}" target="_blank"><img src="{{post.front_image}}" alt="{{post.title}}"></a>

				<div data-admin></div>
			</div>

			<div class="col col--7of12">
				<h4><a href="{{post.url}}" target="_blank"><span data-title>{{post.title}}</span></a></h4>

				<blockquote data-content-key="quote" data-is-markdown>{{post.quote|safe}}</blockquote>
				<div data-content-key="references">{{post.references|safe}}</div>

				<span data-tags class="tags">{% for tag in post.tags %}<a href="/lists/library/tags/{{tag}}" data-tag>{{tag}}</a>{% endfor %} <span data-tag-input></span></span>
			</div>
		</div>
	</article>
	{% endfor %}
</div>
{% endblock %}


{% block footer %}


	{{super()}}

	<script>
		window.list_id = "{{list._id}}";
		window.list_route = "{{list.route}}";
	</script>
{% endblock %}
