<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>
        {% block title %}
            {{pieces.metadata.title|striptags}} – {{pieces.metadata.sub_title|striptags}}
        {% endblock %}
        </title>
        <meta name="description" content="{% block description %}{{pieces.metadata.description|striptags}}{% endblock %}">


        <meta name="twitter:card" value="summary">
        <meta property="og:title" content="{% block og_title %}{{pieces.metadata.title|striptags}} – {{pieces.metadata.sub_title|striptags}}{% endblock %}">
        <meta property="og:type" content="website"/>
        <meta property="og:description" content="{% block og_description %}{{pieces.metadata.description}}{% endblock %}">
        <meta property="og:site_name" content="{{pieces.metadata.title|striptags}}">
        <meta name="google-site-verification" content="Hpbj_9sT1yAFbzMn89rc-tOP0JwUfyrFPi_2omZaEY8" />


        <link rel="dns-prefetch" href="//cdn.jsdelivr.net">
        <link rel="dns-prefetch" href="//fonts.googleapis.com">


        <link rel="icon" type="image/png" href="/build/images/favicon/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="/build/images/favicon/favicon-16x16.png" sizes="16x16" />

        <link href='//fonts.googleapis.com/css?family=Karla:700,400|Cardo:400,400italic|Material+Icons' rel='stylesheet' type='text/css'>



        <link href="/build/all.css" rel="stylesheet" type="text/css">
    </head>


    <body class="white_back {% block body_classes %}{% endblock %}">



        <header id="header">
            {% block header %}
            <a href="/lists/blog">
                <h1 class="h1--normal">{{pieces.metadata.title|safe}} <span class="spaced">&mdash;</span> {{pieces.metadata.sub_title}}</h1>
            </a>
            {% endblock %}
        </header>



        <div class="main" role="main">
            {% block main %}{% endblock %}
        </div>




        <div class="admin" id="admin"></div>



        <footer id="footer">
            {% block footer %}
            <div class="grid padded padded--thick">
                <div class="col col--12of12">
                    <a href="/" class="a--alternate">{{pieces.navigation.homepage}}</a>
                    <span class="spaced"></span>
                    <a href="/lists/library" class="a--alternate">Library</a>
                    <span class="spaced"></span>
                    <a href="https://twitter.com/makesaturdays" class="a--alternate" target="_blank">{{pieces.navigation.twitter}}</a>
                    <span class="spaced"></span>
                    <a href="https://www.facebook.com/Make-Saturdays-253322651665474/" class="a--alternate" target="_blank">{{pieces.navigation.facebook}}</a>
                    <span class="spaced"></span>
                    <a href="https://github.com/makesaturdays" class="a--alternate" target="_blank">{{pieces.navigation.github}}</a>
                </div>
            </div>
            {% endblock %}
        </footer>




        <script src="//cdn.jsdelivr.net/g/jquery@3.0.0-beta1(jquery.min.js),underscorejs@1.8.3,backbonejs@1.2.3,handlebarsjs@4.0.5,typeahead.js@0.11.1,to-markdown@1.3.0,marked@0.3.5"></script>


        <script>
            var pieces = {{pieces_json|safe}};
            var saturdays_settings = {
                api: window.location.origin+"/"
            }
        </script>
        <script src="/build/templates.js"></script>
        <script src="/build/app.js"></script>


        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-40301409-4', 'auto');
        ga('send', 'pageview');

        </script>

        {% if debugging %}
        <script src="//localhost:9000/livereload.js" async></script>
        {% endif %}

    </body>
</html>
