<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#FAFAFA">

        <title>
        {% block title %}
            {{pieces.metadata.title|striptags}} – {{pieces.metadata.sub_title|striptags}}
        {% endblock %}
        </title>
        <meta name="description" content="{% block description %}{{pieces.metadata.description|striptags}}{% endblock %}">


        <meta name="twitter:card" value="summary">
        <meta property="og:title" content="{% block og_title %}{{pieces.metadata.title|striptags}} – {{pieces.metadata.sub_title|striptags}}{% endblock %}">
        <meta property="og:type" content="website"/>
        <meta property="og:description" content="{% block og_description %}{{pieces.metadata.description|striptags}}{% endblock %}">
        <meta property="og:site_name" content="{{pieces.metadata.title|striptags}}">
        <meta name="google-site-verification" content="Hpbj_9sT1yAFbzMn89rc-tOP0JwUfyrFPi_2omZaEY8" />


        <link rel="dns-prefetch" href="//cdn.jsdelivr.net">
        <link rel="dns-prefetch" href="//fonts.googleapis.com">


        <link rel="icon" type="image/png" href="/build/images/favicon/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="/build/images/favicon/favicon-16x16.png" sizes="16x16" />

        <link href='//fonts.googleapis.com/css?family=Work+Sans:400,600|Cardo:400,400italic' rel='stylesheet' type='text/css'>



        <link href="/build/all.css" rel="stylesheet" type="text/css">
    </head>


    <body class="{% block body_classes %}{% endblock %}">



        <header id="header">
            {% block header %}
            <nav class="grid" data-navigation>
                <div class="col col--6of12" data-piece-id="{{pieces.metadata._id}}">
                    <a href="{% block title_link %}/{% endblock %}">
                        <h1 class="h1--base"><span data-key="title">{{pieces.metadata.title|safe}}</span></h1>
                    </a>
                    <span data-piece-admin></span>
                </div>
                <div class="col col--6of12 text_right" data-piece-id="{{pieces.navigation._id}}">
                    {# <a href="{{current_path}}?cart=true" class="a--alternate hide_on_small" data-show-cart><span data-key="about">Cart</span></a>
                    <span class="spaced hide_on_small"></span> #}
                    <a href="/manifesto" class="a--alternate hide_on_small"><span data-key="about">{{pieces.navigation.about}}</span></a>
                    <span class="spaced hide_on_small"></span>
                    <a href="/products" class="button button--bordered">Upcoming Workshop</a>
                    <span data-piece-admin></span>
                    {# <a href="/request_access" class="a--highlight"><span data-key="request_access">{{pieces.navigation.request_access}}</span></a>
                    <span data-piece-admin></span> #}
                </div>
            </nav>
            {% endblock %}
        </header>



        <div class="main" role="main">
            {% block main %}{% endblock %}
        </div>



        <div class="cart fades_out fade_out" id="cart"></div>
        <div class="admin fades_out fade_out" id="admin"></div>


        <footer id="footer">
            {% block footer %}
            <div class="footer__fixed">
                
                <div class="footer__fixed__top"></div>

                <h1 class="footer__fixed__middle text_center"><a href="">Join us at our upcoming workshop.</a></h1>

                <nav class="footer__fixed__bottom">
                    <div class="padded max_width max_width--center text_center">
                        It's <strong data-day></strong>.
                        Make Saturdays has events on <a href="{{pieces.navigation.facebook_link}}" data-link-key="facebook_link" class="a--underline" target="_blank">{{pieces.navigation.facebook}}</a>.
                        Our code is <a href="{{pieces.navigation.github_link}}" data-link-key="github_link" class="a--underline" target="_blank"><span data-key="github">{{pieces.navigation.github}}</span></a>.
                        We're also <a href="{{pieces.navigation.twitter_link}}" data-link-key="twitter_link" class="a--underline" target="_blank">{{pieces.navigation.twitter}}</a>.
                        Our pics are on <a href="{{pieces.navigation.instagram_link}}" data-link-key="instagram_link" class="a--underline" target="_blank">{{pieces.navigation.instagram}}</a>.
                        Read the books from our <a href="/lists/library" class="a--underline"><span data-key="library">{{pieces.navigation.library}}</span></a>.
                        And get to know our process on the <a href="/lists/blog" class="a--underline"><span data-key="blog">{{pieces.navigation.blog}}</span></a>.

                        <span data-piece-admin></span></p>
                    </div>
                </nav>
            </div>
            {% endblock %}
        </footer>




        <script src="//cdn.jsdelivr.net/g/jquery@3.0.0-beta1(jquery.min.js),underscorejs@1.8.3,backbonejs@1.2.3,handlebarsjs@4.0.5,typeahead.js@0.11.1,to-markdown@1.3.0,marked@0.3.5,jquery.payment@1.4.1"></script>

        <script src="https://js.stripe.com/v2/"></script>


        <script>
            var pieces = {{pieces_json|safe}};
            var current_path = "{{current_path}}";
            var saturdays_settings = {
                api: window.location.origin+"/",
                stripe_key: "{{stripe_key}}"
            }
        </script>
        <script src="/build/templates.js"></script>
        <script src="/build/app.js"></script>


        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-40301409-4', 'auto');
        ga('send', 'pageview');

        </script>

        {% if debugging %}
        <script src="//localhost:9000/livereload.js" async></script>
        {% endif %}

    </body>
</html>
