
{% extends "layout.html" %}

{% block title %}
    Products - {{super()}}
{% endblock %}

{% block body_classes %}products{% endblock %}

{% block main %}
<div class="grid grid--guttered">
{% for product in products %}

	{% if 'workshop' in product.tags %}
	
		{% set _loop = loop %}
		{% include 'products/products__workshop.html' %}

	{% else %}
	{# <article class="col col--4of12 product" data-product-id="{{product._id}}">
		<a href="/products/{% if product.pretty_url is defined %}{{product.pretty_url}}{% else %}{{product._id}}{% endif %}">
			<img src="https://placehold.it/500x500/f4f4f4/E5E5E5/&text=%E2%88%85" alt="Picture of {{product.name}}">
			<h3>{{product.name}}</h3>
		</a>
	</article> #}
	{% endif %}

{% endfor %}
</div>
{% endblock %}

{% block footer %}
	{{super()}}
{% endblock %}